:root {
  --selection-button-color: #da2828;
  --selection-button-color-hover: #ca2626;
  --primary-desc-para: #da2828;
  --link-color: #4285f4;
  --google-button-color: #4285f4;
  --primary-button-color: #3771ce;
}